In [5]:
import pandas as pd
import os

ssi_data_directory = "/nfs/workspace/data/ssi"
ssi_data_directory

'/nfs/workspace/data/ssi'

In [6]:
final_preprocessing_dir = os.path.join(ssi_data_directory, "preprocessing/05-final")
os.listdir(final_preprocessing_dir)

['ssi_plus_revenue.parquet',
 'ssi_ah_revenue.parquet',
 'ssi_lidl_revenue.parquet']

In [7]:
data_files = [os.path.join(final_preprocessing_dir, filename) for filename in os.listdir(final_preprocessing_dir)]
data_files

['/nfs/workspace/data/ssi/preprocessing/05-final/ssi_plus_revenue.parquet',
 '/nfs/workspace/data/ssi/preprocessing/05-final/ssi_ah_revenue.parquet',
 '/nfs/workspace/data/ssi/preprocessing/05-final/ssi_lidl_revenue.parquet']

In [8]:
lidl_df = pd.read_parquet(data_files[2])
lidl_df.head()

,store_id,year_month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,...,amount,year,month,product_id,coicop_level_1,coicop_level_2,coicop_level_3,coicop_level_4,count,receipt_text
0,908515,201801,011110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3185518,92775.0,...,1.0,2018,01,3267751534058161652,01,011,0111,01111,56,Sushi rijst
1,908515,201801,011110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183385,22571.0,...,2565.0,2018,01,-3564191818957410183,01,011,0111,01111,56,Italiaanse Risotto gesorteerd
2,908515,201801,011110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183851,51009.0,...,121651.0,2018,01,-4665729291832571192,01,011,0111,01111,56,Rijst zilvervlies 1kg
3,908515,201801,011110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183852,51010.0,...,66080.0,2018,01,-9042628376296108328,01,011,0111,01111,56,Rijst wit 1kg
4,908515,201801,011110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183945,55571.0,...,67783.0,2018,01,-6693002140100701691,01,011,0111,01111,56,Traditionele basmati rijst XXL

In [10]:
plus_df = pd.read_parquet(data_files[0])
plus_df.head()

,start_date,end_date,store_id,year_month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,...,amount,year,month,product_id,coicop_level_1,coicop_level_2,coicop_level_3,coicop_level_4,count,receipt_text
0,2022-03-01,2022-03-31,901027,202203,011110,Rijst,11110701,Rijst,3711,Witte rijst,...,4781.0,2022,03,-5090812329662242176,01,011,0111,01111,298,Snelkookrijst buil
1,2022-03-01,2022-03-31,901027,202203,011110,Rijst,11110701,Rijst,3711,Witte rijst,...,17145.0,2022,03,3243999266577649169,01,011,0111,01111,298,Witte Rijst
2,2022-03-01,2022-03-31,901027,202203,011110,Rijst,11110701,Rijst,3711,Witte rijst,...,24363.0,2022,03,-2599113672145145167,01,011,0111,01111,298,WITTE RIJST
3,2022-03-01,2022-03-31,901027,202203,011110,Rijst,11110701,Rijst,3711,Witte rijst,...,2051.0,2022,03,4452068391797043079,01,011,0111,01111,298,1 Minuut witte rijst
4,2022-03-01,2022-03-31,901027,202203,011110,Rijst,11110701,Rijst,3711,Witte rijst,...,1864.0,2022,03,676954586733214782,01,011,0111,01111,298,1 Minuut zilv.rijst

In [11]:
ah_df = pd.read_parquet(data_files[1])
ah_df.head()

,store_id,year_month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,...,month,product_id,coicop_level_1,coicop_level_2,coicop_level_3,coicop_level_4,count,receipt_text,isba_description,start_date
0,470111,202301,011110,Rijst,0111102201_011118001,Rijst,182200,basis rijst,58650694,5011157996592,...,01,4013017697068537924,01,011,0111,01111,238,tilda rice,Rijst,2023-01-01
1,470111,202301,011110,Rijst,0111102201_011118001,Rijst,182200,basis rijst,4923416,8718781600624,...,01,6123949729820683062,01,011,0111,01111,238,lassie built,Rijst,2023-01-01
2,470111,202301,011110,Rijst,0111102201_011118001,Rijst,182200,basis rijst,14857942,8718781601133,...,01,-3771322195463238841,01,011,0111,01111,238,vliesrijst,Rijst,2023-01-01
3,470111,202301,011110,Rijst,0111102201_011118001,Rijst,182200,basis rijst,58650708,8718781601706,...,01,-2379360330508535683,01,011,0111,01111,238,lassie rijst,Rijst,2023-01-01
4,470111,202301,011110,Rijst,0111102201_011118001,Rijst,182200,basis rijst,59230031,8718781601768,...,01,5616022400798920137,01,011,0111,01111,238,lassie rijst,Rijst,2023-01-01

In [12]:
lidl_receipts = lidl_df.receipt_text.unique()
plus_receipts = plus_df.receipt_text.unique()
ah_receipts = ah_df.receipt_text.unique()

In [13]:
lidl_receipts.shape, plus_receipts.shape, ah_receipts.shape

((31748,), (204840,), (14011,))

In [14]:
from transformers import AutoTokenizer

old_tokenizer = AutoTokenizer.from_pretrained("gpt2")

/root/.pyenv/versions/ssi/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [26]:
def get_unique_tokens(tokenizer, receipt_texts):
    receipt_tokens = [tokenizer.tokenize(receipt_text)
    for receipt_text in receipt_texts]
   
    return {token for token_list in receipt_tokens for token in token_list}

In [28]:
lidl_unique_tokens = get_unique_tokens(old_tokenizer, lidl_receipts)
plus_unique_tokens = get_unique_tokens(old_tokenizer, plus_receipts)
ah_unique_tokens = get_unique_tokens(old_tokenizer, ah_receipts)

In [29]:
def overlap(left_set, right_set):
    return len(left_set.intersection(right_set)) / (len(left_set) + len(right_set))

overlap_lidl_plus = overlap(lidl_unique_tokens, plus_unique_tokens)
overlap_lidl_ah = overlap(lidl_unique_tokens, ah_unique_tokens)
overlap_ah_plus = overlap(ah_unique_tokens, plus_unique_tokens)

overlap_lidl_plus, overlap_lidl_ah, overlap_ah_plus

(0.30406566138576063, 0.24789764968015526, 0.2053949383049626)

# Train our own tokenizer

In [33]:
import numpy as np

all_receipts = np.concatenate([lidl_receipts, plus_receipts, ah_receipts])
all_receipts[:-10]

array(['Sushi rijst', 'Italiaanse Risotto gesorteerd',
       'Rijst zilvervlies 1kg', ..., 'spicy nuggy', 'gft groen b',
       'talisker 10y'], dtype=object)

In [40]:
tokenizer = old_tokenizer.train_new_from_iterator(all_receipts, 10000)

In [ ]:
own_lidl_unique_tokens = get_unique_tokens(tokenizer, lidl_receipts)
own_plus_unique_tokens = get_unique_tokens(tokenizer, plus_receipts)
own_ah_unique_tokens = get_unique_tokens(tokenizer, ah_receipts)

In [ ]:
own_overlap_lidl_plus = overlap(own_lidl_unique_tokens, own_plus_unique_tokens)
own_overlap_lidl_ah = overlap(own_lidl_unique_tokens, own_ah_unique_tokens)
own_overlap_ah_plus = overlap(own_ah_unique_tokens, own_plus_unique_tokens)

own_overlap_lidl_plus, own_overlap_lidl_ah, own_overlap_ah_plus